.header {
  background-color: var(--gray-700);
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--blue-800);
}

.header .title span {
  color: var(--gray-700);
  text-shadow: 0 0 2px var(--blue-800);
}
